:root {
	--font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	--min_width: 1000px;
	--min_height: 800px;

	--theme_light_0: rgba(55, 184, 233, 0);
	--theme_light_1: rgba(55, 184, 233, 0.2);
	--theme_light_2: rgba(55, 184, 233, 0.4);
	--theme_light_3: rgba(55, 184, 233, 0.6);
	--theme_light_4: rgba(55, 184, 233, 0.8);
	--theme_light_5: rgba(55, 184, 233, 1.0);

	--theme_dark_0: rgba(64, 64, 64, 0);
	--theme_dark_1: rgba(64, 64, 64, 0.2);
	--theme_dark_2: rgba(64, 64, 64, 0.4);
	--theme_dark_3: rgba(64, 64, 64, 0.6);
	--theme_dark_4: rgba(64, 64, 64, 0.8);
	--theme_dark_5: rgba(64, 64, 64, 1.0);
	--border_color: #999;
}

html,
body {
	font: var(--font);
	min-width: var(--min_width);
	min-height: var(--min_height);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
	width: 12px;
}
::-webkit-scrollbar:horizontal {
	height: 12px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
	border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ffffff;
}

.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 10000;
}
.loading > .spinning_loader {
	position: absolute;
	top: calc(50% - 40px);
	width: 100%;
	z-index: 10000;
}
.loading > .spinning_loader > .spinner {
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.8);
	background-color: transparent;
	width: 40px;
	height: 40px;
	margin: 20px auto;
	-webkit-animation: sk-rotateplane 3.0s infinite ease-in-out;
	animation: sk-rotateplane 3.0s infinite ease-in-out;
	border-radius: 5px;
}
@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}
	25% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}
	50% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
	75% {
		-webkit-transform: perspective(120px) rotateY(360deg) rotateX(180deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateY(360deg) rotateX(360deg);
	}
}
@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	25% {
		transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
	}
	75% {
		transform: perspective(120px) rotateX(-360deg) rotateY(-180deg);
		-webkit-transform: perspective(120px) rotateX(-360deg) rotateY(-180deg);
	}
	100% {
		transform: perspective(120px) rotateX(-360deg) rotateY(-360deg);
		-webkit-transform: perspective(120px) rotateX(-360deg) rotateY(-360deg);
	}
}
.loading > .spinning_loader > .label {
	color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
	text-align: center;
}


.page_container,
.page_body,
.main_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.page_body {
	height: calc(100% - 50px);
}
.page_body,
.main_container {
	flex-grow: 1;
}
.main_container {
	position: relative;
	padding: 10px 16px;
}
.table_view,
.editor_view {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	width: calc(50% - 11px);
	height: 100%;
	padding: 8px;
	/*transition: width 200ms;*/
}
.collapse_view_button {
	color: #777;
	background-color: rgba(150, 150, 150, 0.1);
	flex-grow: 0;
	height: calc(100% - 125px);
	min-width: 20px;
	margin-top: 50px;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.collapse_view_button .icon {
	margin: 0;
	position: relative;
	width: 100%;
	top: 50%;
	left: 50%;
	line-height: 80px;
	transform: translate(-50%, -50%);
	font-weight: bold;
}
.horizontal_collapsed {
	flex-grow: 0;
	width: 0;
	overflow: hidden;
}

.alert_container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-height: 0;
	z-index: 999;
}
.alert {
	background-color: rgba(255, 255, 255, 0.7);
	color: #222;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 50%;
	padding: 4px 16px;
	transform: translate(-50%, 0);
	border-radius: 4px;
	font-size: 1.4em;
	top: -80px;
	opacity: 0;
	transition: 800ms top, 2000ms opacity;
}
.drop_alert {
	top: 60px;
	opacity: 1;
}

.num_tables.changed,
.num_rows.changed {
	-webkit-animation: fadein 2000ms;
	-moz-animation: fadein 2000ms;
	-o-animation: fadein 2000ms;
	animation: fadein 2000ms;
}

@-webkit-keyframes fadein {
	0% {opacity: 0;}
	1% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadein {
	0% {opacity: 0;}
	1% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadein {
	0% {opacity: 0;}
	1% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadein {
	0% {opacity: 0;}
	1% {opacity: 0;}
	100% {opacity: 1;}
}

#github_icon {
	position: absolute;
	top: 4px;
	right: 16px;
	z-index: 2;
}

/*Tabbed view*/
.tabs {
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-y: auto;
	z-index: 100;
}
.tab {
	background-color: var(--theme_light_0);
	color: var(--theme_dark_2);
	min-width: 100px;
	padding: 8px 16px;
	border-radius: 8px 8px 0 0;
	border: 1px solid var(--border_color);
	border-bottom: none;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}
.tab:hover {
	color: var(--theme_dark_4);
	cursor: pointer;
	/*transition: 400ms color;*/
}
.tab.active {
	background-color: var(--theme_light_1);
	color: var(--theme_dark_4);
	border-bottom: 1px solid var(--border_color);
	/*transition: 400ms all;*/
}
.tab_content {
	flex-grow: 0;
	flex-shrink: 1;
	display: flex;
	max-height: 0;
	overflow: hidden;
}
.tab_content.active {
	flex-grow: 1;
	max-height: initial;
	border: 1px solid var(--border_color);
}

.database_container {
	/*display: none;*/
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}

.tutorial_message_container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}
.tutorial_message {
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
	color: #fff;
	backdrop-filter: blur(5px);
	position: absolute;
	display: none;
	margin: 0;
	padding: 16px;
	font-size: 1.4em;
	border-radius: 8px;
	z-index: 3;
	transition: all 1000ms;
}
.message {
	width: 280px;
	height: 170px;
}
.message .paragraph {
	margin-bottom: 8px;
}
.tutorial_button_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 16px;
}
.tutorial_button_container > input {
	margin-left: 8px;
}
